/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background: #fffded;

}

html{
	background: white;
}

header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2.0em;
	background-image:linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

}

/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 1em;

}
header .shadow{
	text-shadow: 2px 2px 3px #800000
}
Header h2{
	font-size: 170%;
	color: #800000;
}

Header h3{
	font-size:130%;
	font-style:italic;
}
/* the styles for the section */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}
main h1{
	font-size:150%;
	border-bottom:3px solid #931420;
	border-top:3px solid #931420;
	padding-top:0.3em;
	padding-bottom: 0.3em;
}

main h2{
	font-size:130%;
	color:#800000;
	padding-top:0.5em;
	padding-bottom: 0.25em;
}

main h3{
	font-size:105%;
	padding-bottom: 0.25em;
}

main p{
	padding-bottom: 0.5em;
}

main blockquote{
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

main ul{
	padding-left: 1.25em;
	padding-bottom: 0.25em;
}

main li{
	padding-bottom: 0.35em;
}


a:hover{
	font-style:italic;
}

footer{
	background-color:#931420;
}
/* the styles for the footer */
footer p{
	text-align: center;
	color: white;
	padding-bottom: 1em;
	padding-top: 1em;
}
